parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Console
    customRulesetUsed: true

services:
    -
        class: App\Rules\PHPStan\Context7ForbiddenNamingRule
        tags:
            - phpstan.rules.rule
